@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir.woff2") format("woff2"), url("../fonts/Vazir.woff") format("woff"), url("../fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

* {
  font-family: Vazir;
  direction: rtl !important;
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

body {
  font-family: Vazir;
  direction: rtl !important;
  background-color: #f7f7f7;
}

#nav {
  position: sticky;
  z-index: 99;
  top: 0;
  background-color: #ffffff;
}

#nav ul.ul-nav {
  margin: 0;
  padding: 0 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

#nav ul.ul-nav li {
  display: inline-block;
}

#nav ul.ul-nav li a {
  font-size: 15px;
  padding: 10px 8px;
  display: inline-block;
  color: #1a1a1a;
}

#nav .left-icon {
  display: flex;
  justify-content: end;
  align-items: baseline;
  margin-top: 12px;
}

#nav .left-icon i {
  font-size: 20px;
  padding-left: 10px;
  color: #1a1a1a;
  transition: all 0.3s;
}

#nav .left-icon i:hover {
  color: rgba(26, 26, 26, 0.804);
}

/* Underline From Right */
.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #00eae6;
  height: 2px;
  border-radius: 1px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-right:hover:before,
.hvr-underline-from-right:focus:before,
.hvr-underline-from-right:active:before {
  left: 0;
}

#header {
  margin-top: 100px;
}

#header .img {
  position: relative;
}

#header .img span i.cog-1 {
  position: absolute;
  color: black;
  font-size: 17px;
  animation: cog-1 infinite 13s linear;
}

@keyframes cog-1 {
  100% {
    transform: rotate(-360deg);
  }
}

#header .img span i.cog-2 {
  font-size: 33px;
  position: absolute;
  top: 10px;
  right: 23px;
  color: #292929;
  animation: cog-2 infinite 13s linear;
}

@keyframes cog-2 {
  100% {
    transform: rotate(360deg);
  }
}

#header .img .square-1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #9376ae;
  animation: square-1 infinite 13s linear;
}

@keyframes square-1 {
  100% {
    transform: rotate(360deg);
  }
}

#header .img .square-2 {
  position: absolute;
  left: 50px;
  top: 100px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  border: 2px solid #1078a8;
  animation: square-1 infinite 13s linear;
}

@keyframes square-1 {
  100% {
    transform: rotate(360deg);
  }
}

#header .img .square-3 i {
  position: absolute;
  left: 50px;
  bottom: 28px;
  font-size: 30px;
  color: #a7a7a7;
  animation: square-3 infinite 13s linear;
}

@keyframes square-3 {
  100% {
    transform: rotate(360deg);
  }
}

#header .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#course {
  margin-top: 100px;
}

#course .hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#course .hvr-float:active, #course .hvr-float:focus, #course .hvr-float:hover {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

#course .back {
  color: #00eae6;
}

#course .card {
  margin-top: 20px;
}

#course .card .card-body .card-footer {
  display: flex;
  justify-content: space-between;
  justify-content: baseline;
  padding: 10px 3px;
}

#course .card .card-body .card-footer .right i {
  vertical-align: -1px;
  color: #a7a7a7;
}

#course .card .card-body .card-footer .right .text {
  font-size: 12px;
}

#course .card .card-body .card-footer .left a {
  font-size: 12px;
}

#path {
  margin-top: 100px;
}

#path .container .row .bath-1 {
  display: flex;
  justify-content: space-between;
}

#path .container .row .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

#learn .card {
  margin-top: 10px;
  box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.15), 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
  border: none;
}

#learn .card:hover .hover-img {
  opacity: 1;
  cursor: pointer;
}

#learn .card:hover {
  cursor: pointer;
}

#learn .hover-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.471);
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  z-index: 2;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 0 3px 3px 0;
}

#learn .custom-img {
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  border-radius: 0 3px 3px 0;
}

#learn .card-body .card-title {
  font-size: 19px;
}

#learn .card-body .card-text2 {
  font-size: 15px  !important;
  color: #424242;
}

@media screen and (max-width: 800px) {
  #learn .hover-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.471);
    clip-path: polygon(0 1%, 100% 0, 100% 85%, 0% 100%);
    z-index: 2;
    opacity: 0;
    transition: all 0.5s;
    border-radius: 0 3px 3px 0;
  }
  #learn .custom-img {
    clip-path: polygon(0 1%, 100% 0, 100% 85%, 0% 100%);
    border-radius: 0 3px 3px 0;
  }
}

.footer-custom {
  background-color: #424242;
  color: white;
  padding: 10px;
}

.footer-custom a {
  color: #c1c1c1;
  font-size: 14px;
}
